@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* clearfix --*/
.clearFix:after {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  height: 0;
  content: ".";
}

/* alt --*/
.alttext {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

a {
  text-decoration: none;
}

hr {
  display: none;
}

iframe[name=google_conversion_frame] {
  position: absolute;
  top: 0;
  left: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

audio,
embed,
img,
object,
video {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", meiryo, sans-serif;
}

figure {
  margin: 0;
  padding: 0;
}
figure img {
  user-select: none;
  -webkit-user-drag: none;
}

img {
  backface-visibility: hidden;
}

/****************************************************/
/****************************************************/
#cover {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #fff;
  will-change: all;
  backface-visibility: hidden;
}
#cover .mark {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  transition: all 0.1s ease-in;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}
#cover .mark .base {
  opacity: 0.5;
}
#cover .mark .loader {
  animation: load 1s linear 0s infinite;
  opacity: 1;
  stroke-dasharray: 140;
  stroke-dashoffset: 100;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#cover .mark svg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
}
#cover .mark svg circle {
  overflow: hidden;
  transition: all 0.2s ease;
  fill: none;
  stroke: #1d2e45;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  backface-visibility: hidden;
}
#cover .mark > div {
  position: relative;
  width: 100%;
  height: 100%;
}
#cover.-hide {
  visibility: hidden;
  transition: all 1s ease 0.5s;
  opacity: 0;
  /* .mark {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0.1s;
  } */
}
#cover.-hide circle {
  visibility: hidden;
  transition: all 0.5s ease 0.3s;
  opacity: 0;
}
#cover.-hide.-skip {
  transition-duration: 1s;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/****************************************************/
#trailer-wrapper {
  position: fixed;
  z-index: 102;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  transform: translateZ(0);
  background: #000;
  will-change: opacity visibility;
}
#trailer-wrapper.-show {
  top: 0;
}

#trailer {
  position: absolute;
  top: 0;
  left: 50px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 100px);
  height: 100%;
}

#trailer-wrapper.hide {
  visibility: hidden;
  transition: all 0.8s ease;
  opacity: 0;
}

#trailer-wrapper .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

#trailer-player {
  width: 100%;
  height: 100%;
  background: #000;
}

#trailer-nav {
  line-height: 1 !important;
  display: none;
  padding: 10px 0;
  text-align: center;
}

#trailer-wrapper.op #trailer-nav {
  display: block;
}

#trailer .btn-skip {
  transition: all 0.25s ease;
  opacity: 1;
  color: #000;
}

#trailer .btn-skip:hover {
  opacity: 0.8;
}

#trailer-wrapper ul {
  display: block;
  visibility: hidden;
  width: 100%;
  height: 30px;
  margin: 0 auto;
}

#trailer-wrapper ul li {
  display: inline-block;
  box-sizing: border-box;
  width: 16%;
  padding: 0 5px 0 0;
}

#trailer-wrapper ul li:last-child {
  padding-right: 0;
}

#trailer-wrapper ul li.small {
  width: 40%;
}

#trailer-wrapper ul li.small a {
  letter-spacing: 0;
}

#trailer-wrapper ul li.new a:after {
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: 10px;
  left: 5px;
  display: block;
  padding: 2px 5px;
  content: "NEW";
  letter-spacing: 0;
  color: #ff3492;
  background: #fff;
}

#trailer-wrapper ul li.cur a:after,
#trailer-wrapper ul li a:hover:after {
  color: #000;
  background: #1d2e45;
}

#trailer-wrapper ul li a {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 3px;
  transition: all 0.2s ease;
  text-align: center;
  /*border-radius: 5px;*/
  text-decoration: none;
  color: #1d2e45;
  border: 1px solid #1d2e45;
  background: #000;
}

#trailer-wrapper ul li.cur a,
#trailer-wrapper ul li a:hover {
  color: #000;
  border: 1px solid #1d2e45;
  background: #1d2e45;
}

#trailer-wrapper ul li.cur a {
  cursor: default;
}

#btn-skip {
  /*color:#666;*/
  display: block;
  display: none;
  box-sizing: border-box;
  width: 150px;
  margin: 0 auto;
  /*
  background:#000;
  border:1px solid #666;*/
  padding: 7px;
  /*opacity: 0.6;*/
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-align: center;
}

#btn-skip:hover {
  opacity: 1;
}

#trailer-wrapper.op #btn-skip {
  display: block;
}

body.op #trailer-wrapper #trailer-nav {
  visibility: hidden;
  opacity: 0;
}
body.op #trailer-wrapper #trailer {
  margin-top: 0;
}

#trailer-wrapper ul .op {
  display: none;
}

#trailer-wrapper.op {
  display: block;
  background: #000;
}
#trailer-wrapper.op ul li {
  display: none;
}
#trailer-wrapper.op ul li.op {
  display: inline-block;
}

/*
.btn-close {
  width: 50px;
  height: 50px;
  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
*/