@charset "UTF-8";
img {
    max-width: 100%;
}

body,
html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

.-sp {
    display: none;
}

@media only screen and (max-width: 750px) {
    .-sp {
        display: block;
    }
    .-pc {
        display: none;
    }
}

.wrapper {
    padding-bottom: 100px;
}

@media only screen and (max-width: 750px) {
    .wrapper {
        padding-bottom: 10vw;
    }
}

.top {
    height: 100vh;
    width: 100%;
    position: relative;
    min-height: 45vw;
    overflow: hidden;
    backface-visibility: hidden;
}

@media only screen and (max-width: 750px) {
    .top {
        height: auto;
        min-height: none;
    }
}

.top__inner {
    height: 100%;
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 750px) {
    .top__inner {
        height: 152vw;
    }
}

.top__v {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/ver1/top/v-pc.jpg) no-repeat center center;
    background-size: cover;
    transition: transform 10s ease-out 0s;
    backface-visibility: hidden;
}

@media only screen and (max-width: 750px) {
    .top__v {
        background-image: url(../images/ver1/top/v-sp.jpg);
    }
}

.top__text {
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.top__text__main {
    padding-top: 9vh;
    flex-grow: 1;
}

@media only screen and (max-width: 750px) {
    .top__text__main {
        padding-top: 22vw;
    }
}

.top__text__sub {
    padding-bottom: 10vh;
}

@media only screen and (max-width: 750px) {
    .top__text__sub {
        padding-bottom: 9vw;
    }
}

.top__text__director {
    transition: all 1s ease 1.5s;
}

@media only screen and (max-width: 750px) {
    .top__text__director {
        width: 44vw;
        margin: 0 auto;
    }
}

.top__title {
    margin-top: -40px;
    transition: all 1.5s ease 2.5s;
}

@media only screen and (max-width: 750px) {
    .top__title {
        width: 85.3333333333vw;
        margin: -4vw auto 0;
    }
}

.top__roadshow {
    transition: all 2s ease 4s;
}

@media only screen and (max-width: 750px) {
    .top__roadshow {
        width: 64vw;
        margin: 0 auto;
    }
}

.top__footer {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 20px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
}

@media only screen and (max-width: 750px) {
    .top__footer {
        position: relative;
        right: auto;
        bottom: auto;
        padding: 5vw 0 0;
        align-items: center;
    }
}

@media only screen and (max-width: 750px) {
    .top__footer__copyright img {
        height: 7px;
    }
}

.top__share {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    padding-bottom: 10px;
}

.top__share dt {
    padding-right: 3px;
}

.top__share dd {
    padding-left: 14px;
}

@media only screen and (max-width: 750px) {
    .top__share {
        width: 80%;
        justify-content: center;
        padding-bottom: 5vw;
    }
    .top__share dt,
    .top__share dd {
        width: 25%;
        padding: 0;
        text-align: center;
    }
    .top__share dt img,
    .top__share dd img {
        margin: 0 auto;
    }
    .top__share .-mark img {
        width: 3.2vw;
    }
    .top__share .-tw img {
        width: 4.5333333333vw;
    }
    .top__share .-fb img {
        width: 4.5333333333vw;
    }
    .top__share .-line img {
        width: 4.9333333333vw;
    }
}

.top.-hide .top__v {
    transform: scale(1.1);
    transition: all 0s ease 0s !important;
}

.top.-hide .top__title {
    opacity: 0;
    visibility: hidden;
    transition: all 0s ease 0s !important;
}

.top.-hide .top__text__director {
    opacity: 0;
    visibility: hidden;
    transition: all 0s ease 0s !important;
}

.top.-hide .top__roadshow {
    opacity: 0;
    visibility: hidden;
    transition: all 0s ease 0s !important;
}

.comment {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 43, 64, 0.95);
    z-index: 1;
    backface-visibility: hidden;
    color: #fff;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease 0s;
}

.comment.-active {
    opacity: 1;
    visibility: visible;
}

.comment .btn-close {
    background: transparent;
    border: none;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.comment__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 50px 150px;
    box-sizing: border-box;
}

.comment__inner h2 {
    text-align: center;
}

.comment__inner h3 {
    font-style: italic;
    letter-spacing: 0.15em;
    font-size: 1.8em;
    padding-top: 2em;
    font-family: "Noto Sans JP", sans-serif;
}

.comment__inner p {
    font-size: 0.9em;
    line-height: 1.8;
    padding-top: 1.5em;
    letter-spacing: 0.05em;
}

@media only screen and (max-width: 750px) {
    .comment {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .comment__inner {
        padding: 10vw 5vw;
    }
    .comment .btn-close {
        position: relative;
        margin: 0 auto;
        top: auto;
        right: auto;
        width: 12vw;
        margin-bottom: 30vw;
    }
}

.nav__top {
    position: fixed;
    z-index: 110;
    right: 20px;
    top: 8px;
    z-index: 111;
    display: flex;
}

.nav__top li {
    padding-left: 13px;
}

.nav__top img {
    width: 62px;
}

@media only screen and (max-width: 750px) {
    .nav__top {
        right: 2.6666666667vw;
        top: 2.6666666667vw;
    }
    .nav__top li {
        padding-left: 2.6666666667vw;
    }
    .nav__top img {
        width: 10vw;
    }
}

.nav__main {
    position: fixed;
    z-index: 110;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0;
    font-family: "Noto Serif JP", serif;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    box-sizing: border-box;
}

.nav__main.-active {
    width: 32%;
    padding: 0 3%;
}

@media only screen and (max-width: 750px) {
    .nav__main {
        align-items: center;
    }
    .nav__main.-active {
        width: 100%;
    }
}

.nav__main__bg {
    background: rgba(0, 93, 175, 0.5);
    mix-blend-mode: multiply;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: 100;
    transition: all 0.5s ease 0s;
}

.nav__main__bg.-active {
    width: 32%;
}

@media only screen and (max-width: 750px) {
    .nav__main__bg.-active {
        width: 100%;
    }
}

.nav__main:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 93, 175, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.nav__main li {
    position: relative;
    z-index: 1;
}

.nav__main a {
    display: block;
    color: #fff;
    letter-spacing: 0.3em;
    padding: 1em 0;
    font-size: 18px;
}

@media only screen and (max-width: 750px) {
    .nav__main a {
        font-size: 4.6vw;
    }
}

.nav__mark a {
    display: block;
    position: relative;
    background: #fff;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    overflow: hidden;
}

@media only screen and (max-width: 750px) {
    .nav__mark a {
        width: 10vw;
        height: 10vw;
    }
}

.nav__mark a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.nav__mark a span {
    display: block;
    width: 41%;
    height: 3%;
    background: #000;
    right: 23%;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    transition: all 0.5s ease 0s;
}

.nav__mark a::before {
    content: "";
    display: block;
    height: 3%;
    width: 55%;
    background: #000;
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease 0s;
}

.nav__mark a::after {
    content: "";
    display: block;
    height: 3%;
    width: 55%;
    background: #000;
    position: absolute;
    left: 50%;
    bottom: 36%;
    transform: translate(-50%, 50%);
    transition: all 0.5s ease 0s;
}

.nav__mark.-active a span {
    width: 0;
}

.nav__mark.-active a:before {
    transform: rotate(-30deg) translate(-50%, -50%);
}

.nav__mark.-active a:after {
    transform: rotate(30deg) translate(-50%, 50%);
}

.introduction {
    text-align: center;
    padding-bottom: 80px;
}

@media only screen and (max-width: 750px) {
    .introduction {
        padding-bottom: 10vw;
    }
}

.introduction__copy {
    padding: 200px 0;
}

.introduction__copy svg {
    width: 58px;
    margin: 0 auto;
}

@media only screen and (max-width: 750px) {
    .introduction__copy {
        padding: 20vw 0;
    }
    .introduction__copy svg {
        width: 11.7333333333vw;
    }
}

.introduction__copy path {
    backface-visibility: hidden;
    transition: all 3s ease 0s;
}

.introduction__copy path.-c1 {
    transition-delay: 0.1s;
}

.introduction__copy path.-c2 {
    transition-delay: 0.15s;
}

.introduction__copy path.-c3 {
    transition-delay: 0.2s;
}

.introduction__copy path.-c4 {
    transition-delay: 0.25s;
}

.introduction__copy path.-c5 {
    transition-delay: 0.3s;
}

.introduction__copy path.-c6 {
    transition-delay: 0.35s;
}

.introduction__copy path.-c7 {
    transition-delay: 0.4s;
}

.introduction__copy path.-c8 {
    transition-delay: 0.45s;
}

.introduction__copy path.-c9 {
    transition-delay: 0.5s;
}

.introduction__copy path.-c10 {
    transition-delay: 0.55s;
}

.introduction__copy path.-c11 {
    transition-delay: 0.6s;
}

.introduction__copy path.-c12 {
    transition-delay: 0.65s;
}

.introduction__copy path.-c13 {
    transition-delay: 0.7s;
}

.introduction__copy path.-c14 {
    transition-delay: 0.75s;
}

.introduction__copy path.-c15 {
    transition-delay: 0.8s;
}

.introduction__copy path.-c16 {
    transition-delay: 0.85s;
}

.introduction__copy path.-c17 {
    transition-delay: 0.9s;
}

.introduction__copy path.-c18 {
    transition-delay: 0.95s;
}

.introduction__copy path.-c19 {
    transition-delay: 1s;
}

.introduction__copy.-hide path {
    opacity: 0;
    visibility: hidden;
    transition: all 0s ease 0s !important;
}

.introduction h2 {
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: 0.18em;
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 0.8em;
}

@media only screen and (max-width: 750px) {
    .introduction h2 {
        font-size: 4.2666666667vw;
        line-height: 1.6;
    }
}

.introduction p {
    font-family: "Noto Serif JP", serif;
    letter-spacing: 0.2em;
    line-height: 2;
    padding-top: 2em;
    font-size: 18px;
}

@media only screen and (max-width: 750px) {
    .introduction p {
        font-size: 3.7333333333vw;
        letter-spacing: 0.15em;
    }
}

.story {
    padding: 80px 0;
}

@media only screen and (max-width: 750px) {
    .story {
        padding: 10vw 0 15vw;
    }
}

.story__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    padding: 0 90px;
    box-sizing: border-box;
    margin: 0 auto;
}

@media only screen and (max-width: 750px) {
    .story__inner {
        display: block;
        padding: 0 8vw;
    }
}

.story__image {
    width: 46.3636363636%;
    transition: transform 2s cubic-bezier(0, 0.97, 0.04, 0.99) 0s, opacity 1.5s ease 0s;
    overflow: hidden;
}

.story__image img {
    transition: transform 2s cubic-bezier(0, 0.97, 0.04, 0.99) 0s;
}

@media only screen and (max-width: 750px) {
    .story__image {
        width: 84vw;
    }
}

.story__title {
    margin-bottom: 1.5em;
    position: relative;
    display: inline-block;
    overflow: hidden;
    backface-visibility: hidden;
}

.story__title img {
    transition: all 1s ease 0.3s;
    backface-visibility: hidden;
}

.story__title:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease 0s;
    backface-visibility: hidden;
}

@media only screen and (max-width: 750px) {
    .story__title {
        display: block;
        width: 53.6vw;
        margin: 18vw auto 5vw;
    }
}

.story p {
    letter-spacing: 0.15em;
    line-height: 2.4;
    padding-top: 2em;
    font-size: 14px;
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: 0.15em;
}

@media only screen and (max-width: 750px) {
    .story p {
        text-align: center;
        font-size: 3.4666666667vw;
        line-height: 2;
        letter-spacing: 0.1em;
    }
}

.story.-hide .story__title img {
    transform: translate(0, 100%);
    transition: all 0s ease 0s !important;
}

.story.-hide .story__title:after {
    width: 0;
    left: 50%;
    transition: all 0s ease 0s !important;
}

.story.-hide .story__image {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: all 0s ease 0s !important;
}

.story.-hide .story__image img {
    transform: scale(1.25);
    transition: all 0s ease 0s !important;
}

.staff {
    padding: 80px 0;
}

@media only screen and (max-width: 750px) {
    .staff {
        padding: 10vw 0;
    }
}

.staff__inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 90px;
    box-sizing: border-box;
    text-align: center;
}

@media only screen and (max-width: 750px) {
    .staff__inner {
        padding: 0 8vw;
    }
}

.staff__flex {
    display: flex;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 750px) {
    .staff__flex {
        display: block;
    }
}

.staff__title {
    text-align: center;
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    overflow: hidden;
    backface-visibility: hidden;
}

.staff__title img {
    transition: all 1s ease 0.3s;
    backface-visibility: hidden;
}

.staff__title:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease 0s;
    backface-visibility: hidden;
}

@media only screen and (max-width: 750px) {
    .staff__title {
        width: 50.8vw;
        margin-bottom: 0;
    }
}

.staff__name {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 1.8em;
}

@media only screen and (max-width: 750px) {
    .staff__name {
        padding-top: 3em;
        padding-bottom: 2em;
    }
    .staff__name.-n1 {
        width: 53.3333333333vw;
        margin: 0 auto;
    }
    .staff__name.-n2 {
        width: 65.8666666667vw;
        margin: 0 auto;
    }
    .staff__name.-n3 {
        width: 63.0666666667vw;
        margin: 0 auto;
    }
    .staff__name.-n4 {
        width: 44.9333333333vw;
        margin: 0 auto;
    }
}

.staff__image {
    flex-shrink: 0;
    width: 230px;
    margin-left: 2em;
    backface-visibility: hidden;
}

@media only screen and (max-width: 750px) {
    .staff__image {
        width: 49.8666666667vw;
        margin: 0 auto 2.4em;
    }
}

.staff p {
    text-align: left;
    line-height: 2;
    font-size: 14px;
    font-feature-settings: "palt";
    letter-spacing: 0.12em;
}

@media only screen and (max-width: 750px) {
    .staff p {
        font-size: 3.6vw;
    }
}

.staff.-hide .staff__title img {
    transform: translate(0, 100%);
    transition: all 0s ease 0s !important;
}

.staff.-hide .staff__title:after {
    width: 0;
    left: 50%;
    transition: all 0s ease 0s !important;
}

.page__footer {
    padding: 10px 0;
    text-align: center;
}

.page__footer img {
    height: 10px;
}

@media only screen and (max-width: 750px) {
    .page__footer__copyright img {
        height: 7px;
    }
}

.anim-item .anim-scale,
.anim-item.anim-scale,
.op-item .anim-scale,
.op-item.anim-scale {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition: opacity 0.1s ease 0.1s, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
}

.anim-item .anim-show,
.anim-item.anim-show,
.op-item .anim-show,
.op-item.anim-show {
    visibility: visible;
    transition: all 0s ease 0s;
}

.anim-item .anim-mask,
.anim-item.anim-mask,
.op-item .anim-mask,
.op-item.anim-mask {
    width: 100%;
    transition: all 0.3s cubic-bezier(1, 0, 0, 1) 0s;
}

.anim-item .anim-fade0,
.anim-item.anim-fade0,
.op-item .anim-fade0,
.op-item.anim-fade0 {
    backface-visibility: hidden;
    opacity: 1;
    transition: opacity 1.5s ease 0s;
}

.anim-item .anim-fade,
.anim-item.anim-fade,
.op-item .anim-fade,
.op-item.anim-fade {
    backface-visibility: hidden;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: opacity 2s ease 0s, transform 1s cubic-bezier(0, 0.97, 0.04, 0.99) 0s;
}

.anim-item .anim-fade2,
.anim-item.anim-fade2,
.op-item .anim-fade2,
.op-item.anim-fade2 {
    backface-visibility: hidden;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: opacity 1.5s ease 0s, transform 4s ease-out 0s;
}

.anim-item .anim-blur,
.anim-item.anim-blur,
.op-item .anim-blur,
.op-item.anim-blur {
    backface-visibility: hidden;
    opacity: 1;
    transition: opacity 1s ease 0s, transform 2s cubic-bezier(0.19, 1, 0.22, 1) 0s, filter 3s ease-out 0s;
}

.anim-item.-hide .anim-scale,
.anim-item.-hide.anim-scale,
.op-item.-hide .anim-scale,
.op-item.-hide.anim-scale {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 1);
}

.anim-item.-hide .anim-show,
.anim-item.-hide.anim-show,
.op-item.-hide .anim-show,
.op-item.-hide.anim-show {
    visibility: hidden;
}

.anim-item.-hide .anim-mask,
.anim-item.-hide.anim-mask,
.op-item.-hide .anim-mask,
.op-item.-hide.anim-mask {
    width: 0;
}

.anim-item.-hide .anim-fade0,
.anim-item.-hide.anim-fade0,
.op-item.-hide .anim-fade0,
.op-item.-hide.anim-fade0 {
    opacity: 0;
}

.anim-item.-hide .anim-fade,
.anim-item.-hide.anim-fade,
.op-item.-hide .anim-fade,
.op-item.-hide.anim-fade {
    opacity: 0;
    transform: translate3d(0px, 50px, 0px);
}

.anim-item.-hide .anim-fade2,
.anim-item.-hide.anim-fade2,
.op-item.-hide .anim-fade2,
.op-item.-hide.anim-fade2 {
    opacity: 0;
    transform: translate3d(0px, 30px, 0px);
}

.anim-item.-hide .anim-blur,
.anim-item.-hide.anim-blur,
.op-item.-hide .anim-blur,
.op-item.-hide.anim-blur {
    opacity: 0;
    filter: blur(4px);
}

.anim-delay-1 {
    transition-delay: 0.1s !important;
}

.anim-delay-2 {
    transition-delay: 0.2s !important;
}

.anim-delay-3 {
    transition-delay: 0.3s !important;
}

.anim-delay-4 {
    transition-delay: 0.4s !important;
}

.anim-delay-5 {
    transition-delay: 0.5s !important;
}

.anim-delay-6 {
    transition-delay: 0.6s !important;
}

.anim-delay-7 {
    transition-delay: 0.7s !important;
}

.anim-delay-8 {
    transition-delay: 0.8s !important;
}

.anim-delay-9 {
    transition-delay: 0.9s !important;
}

.anim-delay-10 {
    transition-delay: 1s !important;
}

.anim-delay-11 {
    transition-delay: 1.1s !important;
}

.anim-delay-12 {
    transition-delay: 1.2s !important;
}

.anim-delay-13 {
    transition-delay: 1.3s !important;
}

.anim-delay-14 {
    transition-delay: 1.4s !important;
}

.anim-delay-15 {
    transition-delay: 1.5s !important;
}

.anim-delay-16 {
    transition-delay: 1.6s !important;
}

.anim-delay-17 {
    transition-delay: 1.7s !important;
}

.anim-delay-18 {
    transition-delay: 1.8s !important;
}

.anim-delay-19 {
    transition-delay: 1.9s !important;
}

.anim-delay-20 {
    transition-delay: 2s !important;
}

.anim-delay-21 {
    transition-delay: 2.1s !important;
}

.anim-delay-22 {
    transition-delay: 2.2s !important;
}

.anim-delay-23 {
    transition-delay: 2.3s !important;
}

.anim-delay-24 {
    transition-delay: 2.4s !important;
}

.anim-delay-25 {
    transition-delay: 2.5s !important;
}

.anim-delay-26 {
    transition-delay: 2.6s !important;
}

.anim-delay-27 {
    transition-delay: 2.7s !important;
}

.anim-delay-28 {
    transition-delay: 2.8s !important;
}

.anim-delay-29 {
    transition-delay: 2.9s !important;
}

.anim-delay-30 {
    transition-delay: 3s !important;
}

.anim-delay-31 {
    transition-delay: 3.1s !important;
}

.anim-delay-35 {
    transition-delay: 3.5s !important;
}

.anim-delay-36 {
    transition-delay: 3.6s !important;
}

.anim-delay-37 {
    transition-delay: 3.7s !important;
}

.anim-delay-38 {
    transition-delay: 3.8s !important;
}

.anim-delay-39 {
    transition-delay: 3.9s !important;
}

.anim-item.-hide,
.anim-item.-hide *,
.op-item.-hide,
.op-item.-hide * {
    transition: all 0s ease 0s !important;
}